.mat-toolbar {
    background: #41ade7;
    height: 108px;
    padding: 15px;

  }

  .mat-icon{
    position: relative;
    top: 0px; left: 1100px;
  }

.item5 {
    background: #666666;
    height: 70px;
    padding: 30px;
    
  }

  .item3 img{
    width:100%;
    height:100%;
  }

.item5 img{
    height: 70px;
  }

 

  .item5 p{
    text-align: center;
    position: relative;
    top: -75px; left: 0px;
  }

  .item1 {
    text-align: center;
  }

.imageAcredi{
    position: relative;
    top: 0px; left: 1300px;
}
  


  .grid-container {
    display: grid;
    grid-template-areas:
      'header header header header header header'
      'main main main main main main'
      'footer footer footer footer footer footer';
  
    background-color: #e6e6e6;

    
  }

.mat-expansion-panel {
  max-height: 500px; /* this will be the width of the panel (inversed due to rotation) */
}


.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: left;
}

.example-headers-align .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.main-div{
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.customize+* .mat-menu-panel{
background: red;


}



.mat-button, .mat-raised-button{
    background-color: #00c0f3;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: bisque;
    border-radius: 10px;
} 

.mat-cardis{
border: #000000;

}

mat-panel-title {
    justify-content: center !important;
}